<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-2"><proyecto-nav-bar></proyecto-nav-bar></div>
        <div class="col-md-8">
            <div ng-view=""></div>
        </div>
    </div>
</div>